body {
  font-family: "Poppins" sans-serif;
}

/* Mobile View */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  height: auto;
  width: 100%;
}

/* Animation */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#logo {
  animation: fadeIn ease 10s;
}

.nav_links {
  display: flex;
  flex-direction: column;
}

.pricing {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery img {
  width: 100%;
}

.card {
  width: 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}

/* Desktop View */
@media only screen and (min-width: 700px) {
  header img {
    width: 400px;
  }

  header {
    flex-direction: row;
  }

  .nav_links {
    flex-direction: row;
  }

  nav{
    margin-left: auto;
  }

  .pricing {
    flex-direction: row;
  }

  .card {
    width: 300px;
  }

  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery img {
    width: 300px;
  }

}
