body {
    margin: 10px;
    margin-top: 10px;
}

html {
  scroll-behavior: smooth;
}

/* Add a black background color to the top navigation */
#nav {
  /* background-color: #333; */
  color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
#nav a {
  color: #333;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  transition: all ease-out 250ms;
}

/* Change the links on hover */
#nav a:hover {
  font-weight: bold;
}

/* Add name */
#nav a.active {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  float: left;
}

.select {
  font-weight: bold;
}

.sticky {
  position: fixed;
  top: 10px;
  width: 98.34%;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 100px;
}

.subtilte {
  font-family: Arial;
  font-size:17px;
  font-weight:bold;
}

#sub-one {
  position: relative;
  top: 120px;
  left: 70px;
}

section {
  margin-top:500px;
  padding:1rem 1rem;
}

section:nth-of-type(2n) {
  margin-top:200px;
}

section:nth-of-type(3n) {
  margin-top:200px;
}

.me_item {
  position: relative;
}

.aboutme {
  margin-top: 300px;
  display: table;
  content: "";
  clear: both;
  width: 100%;
}

.profile-img{
  float: left;
  margin-right: 300px;
  margin-left: 100px;
}

.aboutmetxt{
  margin-top: 70px;
  margin-right: 50px;
  margin-left: 100px;
}

.grid_work {
  box-sizing: border-box;
  display: grid;
  grid-gap: 2rem 2rem;
  margin-top: 150px;
  margin-left: 70px;
  margin-right: 70px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid_item {
  position: relative;
}

.one {
  grid-column: 1 / 4;
  grid-row: 1;
}

.two {
  grid-column: 2 / 4;
  grid-row: 1;
  position: relative;
}

.three {
  grid-column: 3 / 4;
  grid-row: 1;
}

.four {
  grid-column: 4 / 4;
  grid-row: 1;
}

.one2 {
  grid-column: 1 / 4;
  grid-row: 2;
}

.two2 {
  grid-column: 2 / 4;
  grid-row: 2;
  position: relative;
}

.three2 {
  grid-column: 3 / 4;
  grid-row: 2;
}

.four2 {
  grid-column: 4 / 4;
  grid-row: 2;
}

.img_button {
  color: white;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.img_button:hover {
  opacity: 0.5;
}

/* project popup box */
#box1 {
  width: 1000px;
  overflow-y: scroll;
  background: #eee;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 0px;
  position: relative;
  margin: 100px auto;
  min-height: 850px;
  top: -545px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 1px;
  text-align: center;
  display: none;
}

#box1 span{
  color: hotpink;
  font-size: 40px;
  display: block;
  margin: 20px 0;
}

#box1 h1{
  color: brown
}

.closeButton {
  position: relative;
  top: 10px;
  right: 470px;
}

.close{
  font-size: 18px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  background: black;
  display: inline-block;
  border-radius: 1px solid #000;
}

/* slideshow in popup box */
/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  top: 20px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  width: 250px;
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  top: 20px;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.act, .dot:hover {
  background-color: #717171;
}

footer {
  text-align: center;
  padding: 50px;
}
