body {
    margin: 10px;
    margin-top: 10px;
}

/* Add a black background color to the top navigation */
nav {
  /* background-color: #333; */
  color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  color: #333;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/* Change the links on hover */
nav a:hover {
  font-weight: bold;
}

/* Add a color to the active/current link */
/* nav a.active {
  background-color: #04AA6D;
  color: white;
} */

.aboutme {
  content: "";
  clear: both;
  display: table;
  margin: 30px;
  width: 100%;
}

.profile-img{
  float: left;
  margin-right: 150px;
  margin-left: 100px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  text-align: center;
  padding: 50px;
}
