body {
    margin: 10px;
    margin-top: 10px;
}

/* Add a black background color to the top navigation */
nav {
  /* background-color: #333; */
  color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  color: #333;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/* Change the links on hover */
nav a:hover {
  font-weight: bold;
}

/* Add a color to the active/current link */
/* nav a.active {
  background-color: #04AA6D;
  color: white;
} */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-color: #eee;
}

header * {
  display: inline;
  height: 50px;
}

header ul {
  padding: 0;
}

header li {
  margin-left: 20px;
}

section {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero .profile-img {
  width: 300px;
}

footer {
  text-align: center;
  padding: 50px;
}
