html {
  background-color: black;
}

body {
    margin: 10px;
}

header{
  margin: auto;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: center;
}

nav li{
  /* float: left; */
  overflow: hidden;
  display: inline-block;
  /* padding-right: 1%; */
  z-index: 9999;
}

nav a {
  color: white;
  font-family: serif, sans-serif, Helvetica;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  font-size: 105%;
  font-weight: bold;
}

nav a.active {
  text-decoration: underline;
}

main {
  padding: 10px;
}

h1 {
  font-size: 400%;
  color: white;
  padding-top: 5%;
  padding-bottom: 20px;
  text-align: center;
}

p {
  color: white;
}

img {
  padding-top: 5%;
  padding-bottom: 3%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: white;
}
