html {
  background-color: black;
}

body {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin: 2%;
}

header{
  margin: auto;
  position: relative;
}

nav {
  position: fixed;
  z-index: 9999;
}

ul li {
  overflow: hidden;
  display: inline-block;
}

ul a {
  color: white;
  font-family: Sono, sans-serif, Helvetica;
  font-size: min(2vw, 15px);
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

main {
  padding: 10px;
}

main aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: white;
}

h1 {
  font-size: min(6vw, 60px);
  color: white;
  padding-top: 3%;
  padding-bottom: min(3%, 20px);
  z-index: 999;
}

p {
  font-family: Sono, sans-serif, Helvetica;
  font-size: min(2vw, 15px);
  color: white;
  line-height: 2.5vw;
}

img {
  padding-top: 3%;
  padding-bottom: 1%;
}

#parent {
  position: relative;
}

#static {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}

#static:hover {
  opacity: 0;
}

.arrow {
  visibility: visible;
  position: fixed;
  color: white;
  top: 130vw;
  left: 90vw;
  z-index: 9999;
}

/* images/texts/desplay style */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 400px;
  min-width: 100px;
}

main figure {
  order: 1;
}

figcaption {
  font-family: serif, sans-serif, Helvetica;
  font-size: min(1.5vw, 12px);
  color: white;
  padding-bottom: 2%;
}

footer {
  font-size: min(2vw, 15px);
  text-align: center;
  padding: 2vh;
  background-color: rgb(0, 0, 0);
}

.gallery {
  display: grid;
  grid-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.gallery figure {
  object-fit: cover;
  position: relative;
}

.gallery img:hover {
  width: min(40vw, 440px);
  position: absolute;
  z-index: 99;
  top: -20%;
  left: -20%;
}

.gallerycol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: row wrap;
  grid-gap: 10px;
}

.gallerycol figure {
  object-fit: cover;
}

.homehighlight_a{
  position: absolute; 
  top: 20vw; 
  left: 10vw;
}
.homehighlight_b{
  position: absolute; 
  top: 40vw; 
  left: 10vw;
}
.homehighlight_c{
  position: absolute; 
  top: 70vw; 
  left: 10vw;
}

.textpatch {
  line-height: 2.4vw;
  font-family: Sono, sans-serif, Helvetica;
  font-size: min(2.5vw, 15px);
  color: rgb(0, 0, 0);
}

.highlight {
  border-radius: 0.3vw;
    display: inline;
    background: #35ee8e;
    margin-bottom:10vw;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
  padding: 0.36vw;
  font-weight: 500;
}

video {
  padding-bottom: min(1.5vw,10px);
  border: 0px;
}

main h1 {
  position: relative;
  animation-name: movement;
  animation-duration: 4s;
  animation-delay: -2s;
}

#contact_form {
  /* background-color: #405d27; */
  padding-top: 20px;
  padding-bottom: 20px;
  }

.row label{
  color: #FFFFFF;
  font-size: min(2vw, 15px);
  margin-left: 10px;
}

input[type=text], textarea {
  text-align: center;
  /* background-color: #82b74b; */
  border-radius: 10px;
  margin: auto 0;
  color: black;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* box-shadow: 5px 5px 10px #3e4444; */
  }

input[type=text] {
  height: 25px;
}

input[type=submit] {
  /* background-color: #ff7b25; */
  color: black;
  border-radius: 10px;
  font-size: min(2vw, 15px);
  margin-left: 10px;
  /* box-shadow: 5px 5px 5px #3e4444; */
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: relative;
  left: 500px;
  bottom: 40px;
}

.skip a:focus{
  background: white;
  top: 0;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
}

@keyframes movement {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}

/* Mobile view */
@media only screen and (max-width: 439px) {
  header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-width: 400px;
    min-width: 100px;
  }
}

/* Tablet View */
@media only screen and (min-width: 440px) {
  main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    grid-auto-flow: dense;
  }

  h1 {
    grid-column: 1 / -1;
  }

  main figure {
    order: 1;
  }

  #p_1 {
    order: 2;
  }

  #p_2 {
    order: 3;
  }

  form {
    order: 4;
  }

  .homehighlight_a{
    top: 20vw; 
    left: 15vw;
  }
  .homehighlight_b{
    top: 25vw; 
    margin-left: 45vw;
  }
  .homehighlight_c{
    top: 45vw; 
    left: 15vw;
  }

  .gallery {
    order: 3;
  }

  .galleryfigure {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 3vw;
  }

  .gallerycol {
    order: 1;
    /* grid-column: 1; */
  }

  .center {
    width: 100%;
    max-width: 30vw;
  }

  .arrow {
    top: 100vw;
  }
}

/* Desktop View */
@media only screen and (min-width: 1100px) {
  body {
    grid-template-columns: repeat(2,1fr);
  }

  header {
    grid-column: 2;
    align-self: end;
  }

  main {
    grid-column: 1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  h1 {
    grid-column: 1;
    grid-column: 1 / -1;
  }

  .textpatch {
    line-height: 1.45vw;
  }

  .highlight {
    padding: 0.4vw;
  }

  .homehighlight_a{
    top: 20vw; 
    left: 15vw;
  }
  .homehighlight_b{
    top: 25vw; 
    margin-left: 45vw;
  }
  .homehighlight_c{
    top: 40vw; 
    left: 15vw;
  }

  figure {
    grid-column: 2;
  }

  footer {
    grid-column: 1;
    grid-column: 1 / -1;
  }

  .arrow {
    visibility: hidden;
  }

  .center {
    width: 100%;
    max-width: 30vw;
  }
  .gallery {
    grid-column: 2;
  }

  .galleryfigure {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 3vw;
  }

  .gallerycol {
    grid-column: 2;
  }

  video {
    grid-column: 2;
  }

  .skip a{
    -webkit-transition: none;
    transition: none;
    position: relative;
    left: 0px;
    bottom: 0px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  #title {
    animation: none;
  }

  .skip a{
    -webkit-transition: none;
    transition: none;
  }
}
