html {
  background-color: black;
}

body {
    margin: 2%;
}

header{
  margin: auto;
  position: relative;
}

nav {
  position: fixed;
  background-color: black;
  z-index: 9999;
}

ul li {
  overflow: hidden;
  display: inline-block;
}

ul a {
  color: white;
  font-family: serif, sans-serif, Helvetica;
  font-size: min(2vw, 15px);
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

main {
  padding: 10px;
}

h1 {
  font-size: min(6vw, 60px);
  color: white;
  padding-top: 3%;
  padding-bottom: min(3%, 20px);
}

p {
  font-family: serif, sans-serif, Helvetica;
  font-size: min(2vw, 15px);
  color: white;
  line-height: 2.5vw;
}

img {
  padding-top: 3%;
  padding-bottom: 1%;
  border: 1px solid #555;
}

#parent {
  position: relative;
}

#static {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}

#static:hover {
  opacity: 0;
}

/* images/texts/desplay style */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 400px;
  min-width: 100px;
}

figcaption {
  font-family: serif, sans-serif, Helvetica;
  font-size: min(1.5vw, 12px);
  color: white;
  padding-bottom: 2%;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2,2fr);
  grid-template-rows: repeat(6,2fr);
  grid-gap: 10px;

}

.gallery figure {
    object-fit: cover;
    position: relative;
}

.gallery img:hover {
  width: min(40vw, 450px);
  position: absolute;
  z-index: 99;
  top: -20%;
  left: -20%;
}

.gallerycol {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(2,2fr);
  grid-gap: 10px;
}

.gallerycol figure {
    object-fit: cover;
}

video {
  padding-bottom: min(1.5vw,10px);
  border: 1px solid #555;
}
